# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [111]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [112]:
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url1)

In [113]:
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df2 = pd.read_csv(url2)

url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df3 = pd.read_csv(url3)

In [114]:


df.columns = df.columns.str.lower().str.replace(" ", "_")
df2.columns = df2.columns.str.lower().str.replace(" ", "_")
df3.columns = df3.columns.str.lower().str.replace(" ", "_")

df3.rename(columns={"state": "st"}, inplace=True)

df = df.reindex(sorted(df.columns), axis=1)
df2 = df2.reindex(sorted(df2.columns), axis=1)
df3 = df3.reindex(sorted(df3.columns), axis=1)

display(df.head())
display(df2.head())
display(df3.head())

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,GS98873,323912.47%,Bachelor,F,16061,88,1/0/00,Personal Auto,Arizona,633.6,Four-Door Car
1,CW49887,462680.11%,Master,F,79487,114,1/0/00,Special Auto,California,547.2,SUV
2,MY31220,899704.02%,College,F,54230,112,1/0/00,Personal Auto,California,537.6,Two-Door Car
3,UH35128,2580706.30%,College,F,71210,214,1/1/00,Personal Auto,Oregon,1027.2,Luxury Car
4,WH52799,380812.21%,College,F,94903,94,1/0/00,Corporate Auto,Arizona,451.2,Two-Door Car

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,SA25987,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,TB86706,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,ZL73902,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,KX23516,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,FN77294,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV

In [115]:
df_concat = pd.concat([df, df2, df3], axis=0)

df_concat

,customer,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,st,total_claim_amount,vehicle_class
0,RB50392,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Washington,2.704934,Four-Door Car
1,QZ44356,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,Arizona,1131.464935,Four-Door Car
2,AI49188,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,Nevada,566.472247,Two-Door Car
3,WW63253,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,California,529.881344,SUV
4,GA49547,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,Washington,17.269323,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,23405.98798,Bachelor,M,71941.0,73.0,0,Personal Auto,California,198.234764,Four-Door Car
7066,PK87824,3096.511217,College,F,21604.0,79.0,0,Corporate Auto,California,379.200000,Four-Door Car
7067,TD14365,8163.890428,Bachelor,M,0.0,85.0,3,Corporate Auto,California,790.784983,Four-Door Car
7068,UP19263,7524.442436,College,M,21941.0,96.0,0,Personal Auto,California,691.200000,Four-Door Car
7069,Y167826,2611.836866,College,M,0.0,77.0,0,Corporate Auto,California,369.600000,Two-Door Car

In [116]:
df_concat["customer_lifetime_value"] = df_concat['customer_lifetime_value'].str.replace('%', '').astype(float)
df_concat.dtypes

customer                      object
customer_lifetime_value      float64
education                     object
gender                        object
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
st                            object
total_claim_amount           float64
vehicle_class                 object
dtype: object

In [117]:
df_concat.dropna(axis=0, how='all', inplace=True)
df_concat.isna().sum()

customer_lifetime_value_mean = df_concat['customer_lifetime_value'].mean()
df_concat['customer_lifetime_value'].fillna(customer_lifetime_value_mean, inplace=True)

gender_mode = df_concat['gender'].mode()[0]
df_concat['gender'].fillna(gender_mode, inplace=True)

/var/folders/wc/048rx86x7bqbzmjn7nr46j_80000gn/T/ipykernel_12191/4275617037.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_concat['customer_lifetime_value'].fillna(customer_lifetime_value_mean, inplace=True)
/var/folders/wc/048rx86x7bqbzmjn7nr46j_80000gn/T/ipykernel_12191/4275617037.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_concat['gender'].fillna(gender_mode, inplace=True)

In [118]:
df_concat.isna().sum()

customer                     0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
st                           0
total_claim_amount           0
vehicle_class                0
dtype: int64

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [119]:
url4 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df4 = pd.read_csv(url4)
df4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [120]:
df4.isna().sum()

unnamed:_0                       0
customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [121]:
# Cleaning dataset for any claims that happened before policy inception
def claim_vs_inception(row):
    claim = row["months_since_last_claim"]
    inception = row["months_since_policy_inception"]
    if claim > inception:
        return True
    else:
        return False

# Apply the function to the dataframe   
df4["claim_vs_inception"] = df4.apply(claim_vs_inception, axis=1)
df4["claim_vs_inception"].value_counts()
df4 = df4[df4["claim_vs_inception"] != True]

# Creating profit column
df4["profit"] = df4["monthly_premium_auto"] - (df4["total_claim_amount"] / 12)

# Cleaning education column by renaming college to Bachelor
df4['education'].replace('College', 'Bachelor', inplace=True)

# Creating pivot table
df4.pivot_table(index=['sales_channel'], columns=['gender'], values='profit', aggfunc='sum').round(2)

/var/folders/wc/048rx86x7bqbzmjn7nr46j_80000gn/T/ipykernel_12191/1049113952.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df4['education'].replace('College', 'Bachelor', inplace=True)

gender                 F         M
sales_channel
Agent          100637.67  98271.61
Branch          78291.18  66986.47
Call Center     53025.28  47894.25
Web             43175.03  34327.54

In [122]:
# The highest profit was generated through agents for females. This was followed by males.
# Branch sales channel generated the second highest profits, followed by call center and then web.

In [123]:
df4.pivot_table(index=["education"], columns=["gender"], values="customer_lifetime_value", aggfunc="mean").round(2)

gender                      F        M
education
Bachelor              7881.68  7853.43
Doctor                7384.43  7148.90
High School or Below  8787.88  8139.32
Master                8031.68  8321.64

In [124]:
# Women with high school or below tend to have higher customer lifetime value than the rest of the segments.
# Generally, customers with Master or high school and below have the lowest customer lifetime value, in comparison to Doctors and holders of Bachelor degrees.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [125]:
# Your code goes here